# Handling Excel Data

In [2]:
#creating xlsx file 
import pandas as pd
data = {
    "Player": [
        "Lionel Messi", "Cristiano Ronaldo", "Kylian Mbappé", "Erling Haaland",
        "Kevin De Bruyne", "Robert Lewandowski", "Neymar Jr", "Mohamed Salah",
        "Virgil van Dijk", "Luka Modrić", "Karim Benzema", "Harry Kane",
        "Sadio Mané", "Bruno Fernandes", "Sergio Ramos", "Gianluigi Donnarumma",
        "Son Heung-min", "Pedri", "Jude Bellingham", "Phil Foden"
    ],
    "Club": [
        "Inter Miami", "Al Nassr", "PSG", "Manchester City", "Manchester City",
        "Barcelona", "Al Hilal", "Liverpool", "Liverpool", "Real Madrid",
        "Real Madrid", "Bayern Munich", "Al Nassr", "Manchester United",
        "Sevilla", "PSG", "Tottenham", "Barcelona", "Real Madrid", "Manchester City"
    ],
    "Country": [
        "Argentina", "Portugal", "France", "Norway", "Belgium", "Poland",
        "Brazil", "Egypt", "Netherlands", "Croatia", "France", "England",
        "Senegal", "Portugal", "Spain", "Italy", "South Korea", "Spain",
        "England", "England"
    ],
    "Goals": [30, 28, 35, 42, 15, 25, 20, 26, 5, 8, 22, 24, 18, 12, 7, 0, 21, 4, 11, 13],
    "Assists": [12, 10, 9, 6, 20, 5, 14, 10, 1, 7, 8, 5, 6, 15, 1, 0, 10, 8, 7, 12],
    "Appearances": [38, 36, 40, 39, 37, 33, 32, 35, 30, 34, 36, 38, 31, 39, 29, 28, 34, 30, 33, 37]
}

df = pd.DataFrame(data)
df.to_excel("football_data.xlsx", index=False)

print("Football Excel file 'football_data.xlsx' created successfully!")

Football Excel file 'football_data.xlsx' created successfully!

In [4]:
import pandas as pd

# Read Excel file
df = pd.read_excel("football_data.xlsx")

In [5]:
print(df.head()) #first five rows

              Player             Club    Country  Goals  Assists  Appearances
0       Lionel Messi      Inter Miami  Argentina     30       12           38
1  Cristiano Ronaldo         Al Nassr   Portugal     28       10           36
2      Kylian Mbappé              PSG     France     35        9           40
3     Erling Haaland  Manchester City     Norway     42        6           39
4    Kevin De Bruyne  Manchester City    Belgium     15       20           37

In [6]:
print(df.tail())  #last five rows

                  Player             Club      Country  Goals  Assists  \
15  Gianluigi Donnarumma              PSG        Italy      0        0
16         Son Heung-min        Tottenham  South Korea     21       10
17                 Pedri        Barcelona        Spain      4        8
18       Jude Bellingham      Real Madrid      England     11        7
19            Phil Foden  Manchester City      England     13       12

    Appearances
15           28
16           34
17           30
18           33
19           37

In [7]:
# Filter players with more than 25 goals
top_scorers = df[df["Goals"] > 25]
print(" Players with more than 25 goals:")
print(top_scorers)

 Players with more than 25 goals:
              Player             Club    Country  Goals  Assists  Appearances
0       Lionel Messi      Inter Miami  Argentina     30       12           38
1  Cristiano Ronaldo         Al Nassr   Portugal     28       10           36
2      Kylian Mbappé              PSG     France     35        9           40
3     Erling Haaland  Manchester City     Norway     42        6           39
7      Mohamed Salah        Liverpool      Egypt     26       10           35

In [8]:
# Add a new player
new_player = {
    "Player": "Vinícius Jr",
    "Club": "Real Madrid",
    "Country": "Brazil",
    "Goals": 19,
    "Assists": 14,
    "Appearances": 36
}
df = df.append(new_player, ignore_index=True)
df.to_excel("football_data.xlsx", index=False)

In [9]:
print(df.tail())  #to check if new player added or not

             Player             Club      Country  Goals  Assists  Appearances
16    Son Heung-min        Tottenham  South Korea     21       10           34
17            Pedri        Barcelona        Spain      4        8           30
18  Jude Bellingham      Real Madrid      England     11        7           33
19       Phil Foden  Manchester City      England     13       12           37
20      Vinícius Jr      Real Madrid       Brazil     19       14           36

In [11]:
# Average goals by Club
avg_goals_by_club = df.groupby("Club")["Goals"].mean()
print(" Average Goals by Club:")
print(avg_goals_by_club)

 Average Goals by Club:
Club
Al Hilal             20.000000
Al Nassr             23.000000
Barcelona            14.500000
Bayern Munich        24.000000
Inter Miami          30.000000
Liverpool            15.500000
Manchester City      23.333333
Manchester United    12.000000
PSG                  17.500000
Real Madrid          15.000000
Sevilla               7.000000
Tottenham            21.000000
Name: Goals, dtype: float64

In [12]:
# Total assists per country
total_assists_by_country = df.groupby("Country")["Assists"].sum()
print("Total Assists by Country:")
print(total_assists_by_country)

Total Assists by Country:
Country
Argentina      12
Belgium        20
Brazil         28
Croatia         7
Egypt          10
England        24
France         17
Italy           0
Netherlands     1
Norway          6
Poland          5
Portugal       25
Senegal         6
South Korea    10
Spain           9
Name: Assists, dtype: int64

In [13]:
# Add a new column: Goal Contribution (Goals + Assists)
df["Goal_Contribution"] = df["Goals"] + df["Assists"]
print(" Added Goal Contribution column:")
print(df.head())

 Added Goal Contribution column:
              Player             Club    Country  Goals  Assists  Appearances  \
0       Lionel Messi      Inter Miami  Argentina     30       12           38
1  Cristiano Ronaldo         Al Nassr   Portugal     28       10           36
2      Kylian Mbappé              PSG     France     35        9           40
3     Erling Haaland  Manchester City     Norway     42        6           39
4    Kevin De Bruyne  Manchester City    Belgium     15       20           37

   Goal_Contribution
0                 42
1                 38
2                 44
3                 48
4                 35

In [14]:
# Drop a column
df = df.drop(columns=["Appearances"])
print("Dropped 'Appearances' column:")
print(df.head())

Dropped 'Appearances' column:
              Player             Club    Country  Goals  Assists  \
0       Lionel Messi      Inter Miami  Argentina     30       12
1  Cristiano Ronaldo         Al Nassr   Portugal     28       10
2      Kylian Mbappé              PSG     France     35        9
3     Erling Haaland  Manchester City     Norway     42        6
4    Kevin De Bruyne  Manchester City    Belgium     15       20

   Goal_Contribution
0                 42
1                 38
2                 44
3                 48
4                 35

In [15]:
#Handling missing data
df.loc[0, "Goals"] = None

# Fill NaN values with 0
df_filled = df.fillna(0)
print("Filled NaN values with 0:")
print(df_filled.head())

Filled NaN values with 0:
              Player             Club    Country  Goals  Assists  \
0       Lionel Messi      Inter Miami  Argentina    0.0       12
1  Cristiano Ronaldo         Al Nassr   Portugal   28.0       10
2      Kylian Mbappé              PSG     France   35.0        9
3     Erling Haaland  Manchester City     Norway   42.0        6
4    Kevin De Bruyne  Manchester City    Belgium   15.0       20

   Goal_Contribution
0                 42
1                 38
2                 44
3                 48
4                 35

In [16]:
df_dropped = df.dropna()
print(" Dropped rows with NaN values:")
print(df_dropped.head())

 Dropped rows with NaN values:
               Player             Club   Country  Goals  Assists  \
1   Cristiano Ronaldo         Al Nassr  Portugal   28.0       10
2       Kylian Mbappé              PSG    France   35.0        9
3      Erling Haaland  Manchester City    Norway   42.0        6
4     Kevin De Bruyne  Manchester City   Belgium   15.0       20
5  Robert Lewandowski        Barcelona    Poland   25.0        5

   Goal_Contribution
1                 38
2                 44
3                 48
4                 35
5                 30

In [17]:
# Slice rows(players ranked 5 to 10)
print("Players ranked 5–10:")
print(df.iloc[5:11])

Players ranked 5–10:
                Player         Club      Country  Goals  Assists  \
5   Robert Lewandowski    Barcelona       Poland   25.0        5
6            Neymar Jr     Al Hilal       Brazil   20.0       14
7        Mohamed Salah    Liverpool        Egypt   26.0       10
8      Virgil van Dijk    Liverpool  Netherlands    5.0        1
9          Luka Modrić  Real Madrid      Croatia    8.0        7
10       Karim Benzema  Real Madrid       France   22.0        8

    Goal_Contribution
5                  30
6                  34
7                  36
8                   6
9                  15
10                 30

# Handling JSON Data

In [18]:
#Creating json file
import json

# Sample space missions data
missions = [
    {
        "mission": "Apollo 11",
        "agency": "NASA",
        "launch_year": 1969,
        "duration_days": 8,
        "crew": ["Neil Armstrong", "Buzz Aldrin", "Michael Collins"],
        "success": True
    },
    {
        "mission": "Vostok 1",
        "agency": "Soviet Space Program",
        "launch_year": 1961,
        "duration_days": 0.07,
        "crew": ["Yuri Gagarin"],
        "success": True
    },
    {
        "mission": "Challenger STS-51-L",
        "agency": "NASA",
        "launch_year": 1986,
        "duration_days": 0.003,
        "crew": ["Francis Scobee", "Christa McAuliffe", "Gregory Jarvis", "Judith Resnik", "Ellison Onizuka", "Ronald McNair", "Michael J. Smith"],
        "success": False
    },
    {
        "mission": "Tianzhou-1",
        "agency": "CNSA",
        "launch_year": 2017,
        "duration_days": 43,
        "crew": [],
        "success": True
    },
    {
        "mission": "SpaceX Crew-1",
        "agency": "SpaceX",
        "launch_year": 2020,
        "duration_days": 168,
        "crew": ["Michael Hopkins", "Victor Glover", "Soichi Noguchi", "Shannon Walker"],
        "success": True
    }
]

# Save JSON file in the current notebook folder
with open("space_missions.json", "w") as f:
    json.dump(missions, f, indent=4)

print("space_missions.json created in your notebook folder!")

space_missions.json created in your notebook folder!

In [19]:
# Read JSON
with open("space_missions.json", "r") as f:
    data = json.load(f)

# Preview first 3 missions
for mission in data[:3]:
    print(mission)

{'mission': 'Apollo 11', 'agency': 'NASA', 'launch_year': 1969, 'duration_days': 8, 'crew': ['Neil Armstrong', 'Buzz Aldrin', 'Michael Collins'], 'success': True}
{'mission': 'Vostok 1', 'agency': 'Soviet Space Program', 'launch_year': 1961, 'duration_days': 0.07, 'crew': ['Yuri Gagarin'], 'success': True}
{'mission': 'Challenger STS-51-L', 'agency': 'NASA', 'launch_year': 1986, 'duration_days': 0.003, 'crew': ['Francis Scobee', 'Christa McAuliffe', 'Gregory Jarvis', 'Judith Resnik', 'Ellison Onizuka', 'Ronald McNair', 'Michael J. Smith'], 'success': False}

In [20]:
new_mission = {
    "mission": "Artemis II",
    "agency": "NASA",
    "launch_year": 2025,
    "duration_days": 10,
    "crew": ["Reid Wiseman", "Victor Glover", "Christina Koch", "Jeremy Hansen"],
    "success": False
}

data.append(new_mission)

# Save back to JSON
with open("space_missions.json", "w") as f:
    json.dump(data, f, indent=4)

print("New mission added to space_missions.json")

New mission added to space_missions.json

In [21]:
#Filter or Manipulate Data
# Missions longer than 7 days
long_missions = [m for m in data if m["duration_days"] > 7]
print("Long missions (>7 days):")
for m in long_missions:
    print(m["mission"], "-", m["duration_days"], "days")

Long missions (>7 days):
Apollo 11 - 8 days
Tianzhou-1 - 43 days
SpaceX Crew-1 - 168 days
Artemis II - 10 days

In [22]:
# Remove mission by name
mission_to_remove = "Challenger STS-51-L"
data = [m for m in data if m["mission"] != mission_to_remove]

# Save changes
with open("space_missions.json", "w") as f:
    json.dump(data, f, indent=4)

print(f"{mission_to_remove} removed")

Challenger STS-51-L removed

In [23]:
# Update success status of Artemis II
for m in data:
    if m["mission"] == "Artemis II":
        m["success"] = True

with open("space_missions.json", "w") as f:
    json.dump(data, f, indent=4)

print("Updated Artemis II success status")

Updated Artemis II success status

In [25]:
#all unique values
agencies = list({m["agency"] for m in data})
print("Agencies involved in missions:")
print(agencies)

Agencies involved in missions:
['CNSA', 'SpaceX', 'Soviet Space Program', 'NASA']

In [26]:
#Count
agency_counts = {}
for m in data:
    agency_counts[m["agency"]] = agency_counts.get(m["agency"], 0) + 1

print("Number of missions per agency:")
for agency, count in agency_counts.items():
    print(f"{agency}: {count}")

Number of missions per agency:
NASA: 2
Soviet Space Program: 1
CNSA: 1
SpaceX: 1

In [27]:
data_sorted = sorted(data, key=lambda x: x["launch_year"])
print("Missions sorted by launch year:")
for m in data_sorted:
    print(m["launch_year"], "-", m["mission"])

Missions sorted by launch year:
1961 - Vostok 1
1969 - Apollo 11
2017 - Tianzhou-1
2020 - SpaceX Crew-1
2025 - Artemis II