In [2]:
def double(x): #fuction to return double of a given number
    return x*2

In [3]:
print(double(4))

8

In [5]:
print( lambda x:x*2)  #this prints memory address of lambda function

<function <lambda> at 0x7fc9906db700>

In [6]:
f = lambda x: x * 2 #calls the function f defined using lambda and runs it
print(f(3))

6

In [7]:
def add(x,y):
    return x+y #fuction to return sum of two numbers
print(add(34,54))

88

In [8]:
a=lambda x,y: x+y
print(a(23,56))

79

In [9]:
l=[101,202,303,404,505]
for i in range(5):
    print(l[i])

101
202
303
404
505

In [10]:
c=456789
digits=[int(d) for d in str(c)]
print(digits)
for digit in digits:
    print(digit)

[4, 5, 6, 7, 8, 9]
4
5
6
7
8
9

In [11]:
print(dir(digits)) #List of all the attributes and methods of an object

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [18]:
names=["riya","ema","tom","hinton"]
#looper=names.__iter__()
looper=iter(names)
print(next(looper))     #this prints the next element in the list.
                        #it remembers the element printed and will go in an order. 
                        #it cannot print in reverse order

riya

In [14]:
print(next(looper))

ema

In [15]:
print(next(looper))

tom

In [16]:
print(next(looper))

hinton

In [17]:
print(next(looper)) #error cause no more names in the list

StopIteration:

In [20]:
#to resolve the above error we use try catch block
looper=iter(names)
while True:
    try:
        name=next(names)
        print(name)
    except StopIteration:
        break                  #error cause list is iterable, but not an iterator.

TypeError: 'list' object is not an iterator

In [22]:
looper=iter(names)
while True:
    try:
        name=next(looper) #looper is an iterator
        print(names)#prints the list four times as looper has four elements
    except StopIteration:
        break

['riya', 'ema', 'tom', 'hinton']
['riya', 'ema', 'tom', 'hinton']
['riya', 'ema', 'tom', 'hinton']
['riya', 'ema', 'tom', 'hinton']

In [23]:
looper=iter(names)
while True:
    try:
        name=next(looper) #looper is an iterator
        print(name) #prints each element one by one
    except StopIteration:
        break

riya
ema
tom
hinton

In [24]:
def square(x):
    return x*x
numbers=[1,2,3,4,5]
print(map(square,numbers)) #maps the numbers in the list one by one to the function square
#this gives the address of the map object

<map object at 0x7fc9d00cb940>

In [25]:
def square(x):
    return x*x
numbers=[1,2,3,4,5]
print(list(map(square,numbers))) #collects the values from the iterator into a list,
                                    #and displays the squared numbers

[1, 4, 9, 16, 25]

In [26]:
numbers=[1,2,3,4,5]
print(list(map(lambda x:x*x,numbers)))

[1, 4, 9, 16, 25]

In [27]:
numbers=[1,2,3,4,5]
print(list(map(lambda x:x>3,numbers)))  #prints boolean values of the list according to given condition

[False, False, False, True, True]

In [28]:
numbers=[1,2,3,4,5]
print(list(filter(lambda x:x>3,numbers)))#prints the values that satisfy the condition; filters out unwanted values

[4, 5]

In [29]:
names = ["RIYA", "RAKSHIT", "DEV", "HARSHINI"]
lower_names = list(map(lambda x: x.lower(), names))
print(lower_names)

['riya', 'rakshit', 'dev', 'harshini']

In [30]:
def to_lower(name):
    return name.lower()

names = ["RIYA", "RAKSHIT", "DEV", "HARSHINI"]
lower_names = list(map(to_lower, names))
print(lower_names)

['riya', 'rakshit', 'dev', 'harshini']

In [31]:
from functools import reduce

In [32]:
print(reduce(lambda x,y:x+y,numbers)) #reduce combines items into a single result. 
#here, it adds all values in the list

15

In [33]:
tokens = ["my", "name", "is", "riya"]
sentence = reduce(lambda a, b: a + " " + b, tokens)
print(sentence)

my name is riya